.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  color:#000000;
  background-color:#EAA90A;
  border-color:#EAA90A;
  padding:10px;
  margin-top:10px;
}

#promo {
  background:url(../../assets/img/notepad2.jpg);
  background-size:cover;
  text-align:center;
  padding-top:40px;
  height:500px;
}

#promo .jumbotron {
  border-radius:20px;
  background-color:rgba(255,255,255,0);
  margin:75px auto;
  text-align:center;
}

.btn-default:focus, .btn-default.focus {
  color:#000000;
  background-color:#EAA90A;
  border-color:#EAA90A;
}

.container.ogc {
  padding:50px;
  margin:0 auto;
  margin-left:auto;
  margin-right:auto;
}

.container.plugged.waves {
  padding:50px;
  margin:0 auto;
  margin-left:auto;
  margin-right:auto;
}

.dark-section {
  background-color:#ffffff;
}

.omu-img {
  box-shadow:3px 3px 10px #8e8e8e;
  margin:0 auto;
  border-radius:10px;
}

.plug-wav-img1 {
  box-shadow:3px 3px 10px #8e8e8e;
  margin-left:10px;
  border-radius:10px;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  color:#000000;
  background-color:#EAA90A;
  border-color:#EAA90A;
}

.btn-default {
  color:#000000;
  background-color:#EAA90A;
  border-color:#EAA90A;
  border-radius:8px;
}

h2, .h2 {
  padding-bottom:15px;
}

@media (min-width: 360px) {
  .text-center.p {
    width:auto;
    margin:0 auto;
  }
}

@media (min-width: 767px) {
  .text-center.p {
    width:70%;
  }
}

@media (min-width: 991px) {
  .text-center.p {
    width:70%;
  }
}

.text-left {
  padding-bottom:15px;
}

.text-left.h1 {
  padding-top:4px;
  margin:0 auto;
}

h2, .h2 {
  margin:0 auto;
  padding-bottom:15px;
}

@media (min-width: 360px) {
  .text-left.p {
    width:auto;
    margin:0 auto;
  }
}

@media (min-width: 767px) {
  .text-left.p {
    width:70%;
  }
}

@media (min-width: 991px) {
  .text-left.p {
    width:70%;
  }
}

.dark-footer {
  background-color:#F5F3ED;
}

@media (max-width: 991px) {
  .dark-section {
    padding:20px;
  }
}

.dark-section {
  border-bottom:1px solid rgb(180,180,180);
}

#mainmock {
  background:url(../../assets/img/ogunmockupnologo.png);
  background-size:cover;
  padding:40px;
  height:700px;
}

.col-md-12 {
  padding-top:30px;
  margin:0 auto;
}

.ogh1 {
  margin:0 auto;
}

@media (min-width: 360px) {
  .ogh1 {
    margin:0 auto;
    width:300px;
  }
}

@media (min-width: 767px) {
  .ogh1 {
    margin:0 auto;
    width:750px;
  }
}

.ogp1 {
  margin:0 auto;
  padding-top:30px;
}

@media (min-width: 360px) {
  .ogp1 {
    margin:0 auto;
    padding-top:30px;
    width:300px;
  }
}

@media (min-width: 767px) {
  .ogp1 {
    margin:0 auto;
    padding-top:30px;
    width:720px;
  }
}

@media (min-width: 991px) {
  .ogp1 {
    margin:0 auto;
    padding-top:30px;
    width:750px;
  }
}

#prototypebtn {
  margin:30px auto;
}

@media (min-width: 360px) {
  #prototypebtn {
    margin:auto;
    margin-top:30px;
  }
}

@media (min-width: 767px) {
  #prototypebtn {
    margin:auto;
    margin-top:30px;
  }
}

#roles-delvs {
  margin:0 auto;
}

#bankbox {
  margin:0 auto;
}

#dumbox {
  background:url(../../assets/img/dumbells1.png);
  background-size:cover;
  text-align:center;
  padding:40px;
  height:500px;
}

.jumbotron p {
  width:450px;
}

.rh1 {
  width:750px;
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
}

.rp1 {
  margin:0 auto;
  padding-top:15px;
}

.col-md-12.r2body {
  margin:0 auto;
  padding-top:40px;
  background-color:#dacdf9;
}

.surquest {
  margin:0 auto;
  border-radius:6px;
  padding-top:20px;
}

@media (min-width: 360px) {
  .surquest {
    margin:0 auto;
    border-radius:6px;
    width:330px;
    padding-top:20px;
  }
}

@media (min-width: 767px) {
  .surquest {
    margin:0 auto;
    border-radius:6px;
    width:720px;
    padding-top:20px;
  }
}

@media (min-width: 991px) {
  .surquest {
    margin:0 auto;
    border-radius:6px;
    width:750px;
    padding-top:20px;
  }
}

.col-md-12.comp-anlyz {
  background-color:#dacdf9;
  padding-top:60px;
  text-align:center;
}

#companl-img {
  margin:0 auto;
  border-radius:6px;
  display:block;
}

.col-md-12.persona {
  padding-top:60px;
  text-align:center;
  background-color:#dacdf9;
}

#persona-h1 {
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
}

#persona-p1 {
  padding-top:15px;
}

.user-persona {
  margin:0 auto;
  border-radius:6px;
  box-shadow:3px 3px 8px gray;
}

.col-md-12.user-flow {
  margin-top:60px;
}

#userflow-h1 {
  margin-left:60px;
  border-bottom:1px solid rgb(0,0,0);
}

#userflow-p1 {
  margin-left:60px;
  padding-top:15px;
}

.user-flowimg {
  margin-top:70px;
}

.col-md-12.design-logo {
  margin-top:60px;
}

#designlogo-h1 {
  margin:0 auto;
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
}

#designlogo-p1 {
  margin:0 auto;
  padding-top:15px;
}

.designlogo {
  margin:0 auto;
  padding-top:20px;
}

.col-md-12.lo-fi-test {
  background-color:#dacdf9;
  padding-top:60px;
  text-align:center;
}

#lofi-h1 {
  margin:0 auto;
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
}

#lofi-p1 {
  margin:0 auto;
  padding-top:15px;
}

.lowfi {
  margin:0 auto;
  display:block;
  padding-top:20px;
}

.col-md-12.final-design {
  padding-top:60px;
  background-color:#dacdf9;
  text-align:center;
}

#findes-h1 {
  margin:0 auto;
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
}

#findes-p1 {
  margin:0 auto;
  padding-top:15px;
  padding-bottom:10px;
}

.final-ogunm {
  margin:0 auto;
  display:block;
}

.col-md-12.conclusion {
  padding-top:60px;
  background-color:#dacdf9;
  text-align:center;
}

#conclu-h1 {
  margin:0 auto;
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
}

#conclu-h2 {
  margin:0 auto;
  padding-top:15px;
  padding-bottom:70px;
}

#prototypebtn-bottom {
  margin-top:-90px;
}

#jumbo-mam {
  margin-left:160px;
}

.jumbotron p {
  margin-left:80px;
}

#whole-body {
  background-color:#ffffff;
}

.contact-body {
  background-color:#ffffff;
}

.contact-clean {
  margin-top:110px;
}

.text-center.about {
  margin-top:15px;
}

.about-mecon1 {
  background-color:#ffffff;
  border-bottom:1px solid rgb(180,180,180);
}

.text-center.index-jumbo {
  margin-top:15px;
}

#homepg-pwimg {
  box-shadow:3px 3px 10px #8e8e8e;
  border-radius:10px;
}

#pluggedmock1 {
  background:url(../../assets/img/pwmockup3img.png);
  background-size:cover;
  height:770px;
}

.pwrh1 {
  padding-top:40px;
  margin:0 auto;
  border-bottom:1px solid rgb(0,0,0);
  padding-bottom:20px;
}

@media (min-width: 360px) {
  .pwrh1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  .pwrh1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  .pwrh1 {
    margin:0 auto;
    width:750px;
  }
}

.pwrp1 {
  margin:0 auto;
  padding-top:15px;
}

@media (min-width: 360px) {
  .pwrp1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  .pwrp1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  .pwrp1 {
    margin:0 auto;
    width:750px;
  }
}

.comp-pwh1 {
  margin:0 auto;
  border-bottom:1px solid rgb(0,0,0);
  padding-bottom:20px;
}

.comp-pwp1 {
  margin-left:60px;
  padding-top:15px;
}

#pwlogo-h1 {
  margin:0 auto;
  border-bottom:1px solid rgb(0,0,0);
  padding-bottom:20px;
}

#pwlogo-p1 {
  margin:0 auto;
  padding-top:15px;
}

#pwwirefr-h1 {
  margin:0 auto;
  border-bottom:1px solid rgb(0,0,0);
  padding-bottom:20px;
}

@media (min-width: 360px) {
  #pwwirefr-h1 {
    margin:0 auto;
    width:330px;
  }
}

#pwwirefr-p1 {
  margin:0 auto;
  padding-top:15px;
}

#pwwireframe-img {
  margin:0 auto;
  padding-top:20px;
}

#pwfinaldes-h1 {
  margin:0 auto;
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
}

#pwfinaldes-p1 {
  margin:0 auto;
  padding-top:15px;
}

#pwfinaldes-img {
  margin:0 auto;
  padding-top:20px;
}

#pwbtn {
  border-radius:8px;
  margin:0 auto;
  margin-top:70px;
  margin-bottom:70px;
}

#pwconclu-h1 {
  margin:0 auto;
  border-bottom:1px solid rgb(0,0,0);
  padding-bottom:20px;
}

@media (min-width: 360px) {
  #pwconclu-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #pwconclu-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #pwconclu-h1 {
    margin:0 auto;
    width:750px;
  }
}

#pwconclu-p1 {
  margin:0 auto;
  padding-top:15px;
}

@media (min-width: 360px) {
  #pwconclu-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #pwconclu-p1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #pwconclu-p1 {
    margin:0 auto;
    width:750px;
  }
}

#pwresearch-img {
  margin-left:60px;
  margin-top:70px;
}

.btn-default:hover {
  color:#000000;
  background-color:#eaa90a;
  border-color:#eaa90a;
}

.btn-default:focus, .btn-default.focus {
  color:#333333;
  background-color:#eaa90a;
  border-color:#eaa90a;
}

#pwconclu {
  padding-bottom:70px;
  padding-top:90px;
  background-color:#8fddf9;
}

@media (min-width: 360px) {
  .jumbotron {
    margin:0 auto;
    width:100%;
  }
}

@media (min-width: 360px) {
  #homep-p1 {
    width:300px;
    margin:0 auto;
    padding-top:15px;
    line-height:normal;
  }
}

@media (min-width: 767px) {
  #homep-p1 {
    width:750px;
    margin:0 auto;
    line-height:2;
  }
}

@media (min-width: 360px) {
  #promo {
    margin:0 auto;
  }
}

@media (min-width: 767px) {
  .jumbotron {
    width:100%;
  }
}

@media (min-width: 767px) {
  #promo {
    margin:0 auto;
  }
}

@media (min-width: 991px) {
  #promo {
    margin:0 auto;
  }
}

@media (min-width: 360px) {
  .container.ogc {
    width:100%;
    padding:20px;
    align-content:center;
  }
}

@media (min-width: 360px) {
  .omu-img {
    margin:30px auto;
    width:100%;
  }
}

@media (min-width: 767px) {
  .container.ogc {
    width:100%;
  }
}

@media (min-width: 767px) {
  .omu-img {
    width:100%;
    margin:30px auto;
  }
}

@media (min-width: 991px) {
  .omu-img {
    height:300px;
    width:532.375px;
  }
}

@media (min-width: 991px) {
  .text-left.h1 {
    font-size:48px;
  }
}

@media (min-width: 991px) {
  .container.ogc {
    width:100%;
    padding:70px;
  }
}

@media (min-width: 360px) {
  .container.plugged.waves {
    width:100%;
    padding:20px;
    align-content:center;
  }
}

@media (min-width: 360px) {
  #homepg-pwimg {
    margin:30px auto;
    width:100%;
  }
}

@media (min-width: 767px) {
  #homepg-pwimg {
    margin:30px auto;
    width:100%;
  }
}

@media (min-width: 767px) {
  .container.plugged.waves {
    width:100%;
  }
}

@media (min-width: 991px) {
  #homepg-pwimg {
    height:300px;
    width:532.375px;
    margin:0 auto;
  }
}

@media (min-width: 991px) {
  .container.plugged.waves {
    width:100%;
    padding:70px;
  }
}

@media (min-width: 360px) {
  #re-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #re-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #re-h1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #re-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #re-p1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #re-p1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  .col-md-12.r2body {
    margin-left:0px;
  }
}

@media (min-width: 767px) {
  .col-md-12.r2body {
    margin:0 auto;
  }
}

@media (min-width: 360px) {
  #comp-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #comp-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 360px) {
  #comp-p1 {
    margin:0 auto;
  }
}

@media (min-width: 991px) {
  #comp-h1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #comp-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #comp-p1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #comp-p1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #companl-img {
    margin:0 auto;
    width:300px;
  }
}

@media (min-width: 767px) {
  #companl-img {
    margin:0 auto;
    width:750px;
    height:250px;
  }
}

@media (min-width: 360px) {
  #persona-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #persona-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #persona-h1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #persona-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #persona-p1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #persona-p1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #designlogo-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #designlogo-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #designlogo-h1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #designlogo-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #designlogo-p1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #designlogo-p1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  .designlogo {
    margin:0 auto;
    width:300px;
  }
}

@media (min-width: 767px) {
  .designlogo {
    width:750px;
    margin:0 auto;
  }
}

@media (min-width: 360px) {
  #lofi-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #lofi-h1 {
    width:720px;
    margin:0 auto;
  }
}

@media (min-width: 991px) {
  #lofi-h1 {
    width:750px;
    margin:0 auto;
  }
}

@media (min-width: 360px) {
  #lofi-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #lofi-p1 {
    width:720px;
    margin:0 auto;
  }
}

@media (min-width: 991px) {
  #lofi-p1 {
    width:750px;
    margin:0 auto;
  }
}

@media (min-width: 360px) {
  .lowfi {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  .lowfi {
    width:750px;
    margin:0 auto;
  }
}

@media (min-width: 360px) {
  #findes-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #findes-h1 {
    width:720px;
    margin:0 auto;
  }
}

@media (min-width: 991px) {
  #findes-h1 {
    width:750px;
    margin:0 auto;
  }
}

@media (min-width: 360px) {
  #findes-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #findes-p1 {
    width:720px;
    margin:0 auto;
  }
}

@media (min-width: 991px) {
  #findes-p1 {
    width:750px;
    margin:0 auto;
  }
}

@media (min-width: 360px) {
  .final-ogunm {
    margin:0 auto;
    width:300px;
    display:none;
  }
}

@media (min-width: 767px) {
  .final-ogunm {
    width:750px;
    margin:0 auto;
    display:initial;
  }
}

@media (min-width: 360px) {
  #conclu-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #conclu-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #conclu-h1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #conclu-h2 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #conclu-h2 {
    width:720px;
    margin:0 auto;
  }
}

@media (min-width: 991px) {
  #conclu-h2 {
    width:750px;
    margin:0 auto;
  }
}

@media (min-width: 360px) {
  #pwresearch-img {
    width:auto;
  }
}

@media (min-width: 991px) {
  #pwresearch-img {
    margin-left:60px;
    width:95%;
  }
}

@media (min-width: 360px) {
  #comppwh1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #comppwh1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #comppwh1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  .comp-pwp1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  .comp-pwp1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  .comp-pwp1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #pwlogo-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #pwlogo-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #pwlogo-h1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #pwlogo-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #pwlogo-p1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #pwlogo-p1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 767px) {
  #pwwirefr-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #pwwirefr-h1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #pwwirefr-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #pwwirefr-p1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #pwwirefr-p1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #pwwireframe-img {
    margin:0 auto;
    width:100%;
    height:350px;
  }
}

@media (min-width: 767px) {
  #pwwireframe-img {
    margin:0 auto;
    width:90%;
    height:auto;
  }
}

@media (min-width: 991px) {
  #pwwireframe-img {
    margin:0 auto;
    width:95%;
    height:auto;
  }
}

@media (min-width: 360px) {
  #pwfinaldes-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #pwfinaldes-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #pwfinaldes-h1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #pwfinaldes-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #pwfinaldes-p1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #pwfinaldes-p1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #pwfinaldes-img {
    margin:0 auto;
    width:300px;
  }
}

@media (min-width: 767px) {
  #pwfinaldes-img {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #des-roles-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #des-roles-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #des-roles-h1 {
    margin:0 auto;
    width:auto;
  }
}

#des-roles-h1 {
  border-bottom:1px solid rgb(0,0,0);
  padding-bottom:20px;
  margin-bottom:20px;
}

@media (min-width: 360px) {
  #des-delvs-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #des-delvs-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #des-delvs-h1 {
    margin:0 auto;
    width:auto;
  }
}

#specifi-h1 {
  border-bottom:1px solid rgb(0,0,0);
  padding-bottom:20px;
  margin-bottom:20px;
}

@media (min-width: 360px) {
  #specifi-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #specifi-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #specifi-h1 {
    margin:0 auto;
    width:auto;
  }
}

#roles-delvs-full {
  margin:30px auto;
}

#survey-h1 {
  margin:0 auto;
  padding-bottom:20px;
}

@media (min-width: 360px) {
  #survey-h1 {
    margin:0 auto;
    padding-bottom:20px;
    width:330px;
  }
}

@media (min-width: 767px) {
  #survey-h1 {
    margin:0 auto;
    padding-bottom:20px;
    width:720px;
  }
}

@media (min-width: 991px) {
  #survey-h1 {
    margin:0 auto;
    padding-bottom:20px;
    width:750px;
  }
}

#survey-h2 {
  margin:0 auto;
  padding-bottom:20px;
}

#main-info-ogun {
  margin:0 auto;
}

#main-info-contain {
  margin:0 auto;
}

@media (min-width: 360px) {
  #header-info {
    text-align:center;
  }
}

@media (min-width: 767px) {
  #header-info {
    text-align:center;
  }
}

.col-md-12.final-design {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:20px;
}

.col-md-12.design-logo-draft {
  text-align:center;
  margin:auto;
  background-color:#dacdf9;
  padding-top:60px;
}

#logo-h1 {
  margin:0 auto;
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
}

@media (min-width: 360px) {
  #logo-h1 {
    margin:0 auto;
    width:300px;
  }
}

@media (min-width: 767px) {
  #logo-h1 {
    margin:0 auto;
    width:750px;
  }
}

#logo-p1 {
  margin:0 auto;
  padding-top:15px;
}

@media (min-width: 360px) {
  #logo-p1 {
    margin:0 auto;
    width:300px;
  }
}

@media (min-width: 767px) {
  #logo-p1 {
    margin:0 auto;
    width:750px;
  }
}

#des-logo {
  padding-top:60px;
  text-align:center;
  background-color:#dacdf9;
}

#logo-drafts {
  margin:0 auto;
  padding-top:20px;
}

@media (min-width: 360px) {
  #logo-drafts {
    margin:0 auto;
    width:300px;
  }
}

@media (min-width: 767px) {
  #logo-drafts {
    margin:0 auto;
    width:750px;
  }
}

.col-md-4 {
  padding-bottom:20px;
}

#pwdumbox {
  background:url(../../assets/img/blurredpwmockup3img.png);
  background-size:cover;
  text-align:center;
  padding:40px;
  height:500px;
}

@media (min-width: 360px) {
  #pwdumbox {
    background:none;
  }
}

@media (min-width: 991px) {
  #pwdumbox {
    background:url(../../assets/img/blurredpwmockup3img.png);
    background-size:cover;
    text-align:center;
    padding:40px;
    height:500px;
  }
}

#pwcomp {
  padding-top:60px;
  text-align:center;
  background-color:#8fddf9;
}

#pwwireframe {
  text-align:center;
  padding-top:60px;
  background-color:#8fddf9;
}

#pwlogo {
  padding-top:60px;
  text-align:center;
  background-color:#8fddf9;
}

#pwfindes {
  margin:auto;
  text-align:center;
  padding-top:60px;
  background-color:#8fddf9;
}

#pwsum {
  margin:0 auto;
  text-align:center;
  margin-top:40px;
  margin-bottom:60px;
}

#pwheader {
  margin:0 auto;
}

@media (min-width: 360px) {
  #pwheader {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #pwheader {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #pwheader {
    margin:0 auto;
    width:750px;
  }
}

#pwheader-p {
  margin:0 auto;
}

@media (min-width: 360px) {
  #pwheader-p {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #pwheader-p {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #pwheader-p {
    margin:0 auto;
    width:750px;
  }
}

#header-info {
  margin-top:40px;
  margin-bottom:60px;
}

#og-prob-h1 {
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
  margin-bottom:20px;
}

@media (min-width: 360px) {
  #og-prob-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #og-prob-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #og-prob-h1 {
    margin:0 auto;
    width:750px;
  }
}

#og-prob-h1 {
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
  margin-bottom:20px;
}

@media (min-width: 360px) {
  #ogun-solu-h1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #ogun-solu-h1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #ogun-solu-h1 {
    margin:0 auto;
    width:750px;
  }
}

#ogun-solu-h1 {
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
  margin-bottom:20px;
}

#ogun-research-col {
  padding-top:60px;
  background-color:#c9b3fc;
  padding-left:15px;
}

@media (min-width: 360px) {
  #user-persona-img {
    margin:0 auto;
    width:100%;
    display:none;
  }
}

@media (min-width: 767px) {
  #user-persona-img {
    margin:0 auto;
    width:100%;
    display:initial;
  }
}

@media (min-width: 991px) {
  #user-persona-img {
    margin:0 auto;
    width:90%;
  }
}

#user-persona-img {
  margin:40px auto;
  border-radius:6px;
  box-shadow:3px 3px 3px gray;
}

@media (min-width: 360px) {
  #ogun-mockup-img {
    margin:auto;
    width:100%;
    margin-top:50px;
    display:none;
  }
}

@media (min-width: 767px) {
  #ogun-mockup-img {
    margin:auto;
    width:100%;
    margin-top:50px;
    display:initial;
  }
}

#ogun-mockup-img-set {
  text-align:center;
}

@media (min-width: 360px) {
  #iphone-mockup-wf1 {
    width:90%;
  }
}

@media (min-width: 767px) {
  #iphone-mockup-wf1 {
    height:450px;
    width:initial;
  }
}

@media (min-width: 360px) {
  #iphone-mockup-wf2 {
    width:90%;
  }
}

@media (min-width: 767px) {
  #iphone-mockup-wf2 {
    height:450px;
    width:initial;
  }
}

@media (min-width: 360px) {
  #iphone-mockup-wf3 {
    width:90%;
    display:none;
  }
}

@media (min-width: 767px) {
  #iphone-mockup-wf3 {
    height:450px;
    display:none;
  }
}

@media (min-width: 991px) {
  #iphone-mockup-wf3 {
    height:450px;
    display:initial;
    width:auto;
  }
}

#iphone-mockup-wf1 {
  margin:20px;
}

#iphone-mockup-wf2 {
  margin:20px;
}

#iphone-mockup-wf3 {
  margin:20px;
}

@media (min-width: 360px) {
  #design-draft-img1 {
    height:400px;
  }
}

@media (min-width: 767px) {
  #design-draft-img1 {
    height:400px;
  }
}

@media (min-width: 360px) {
  #design-draft-img2 {
    height:400px;
  }
}

@media (min-width: 767px) {
  #design-draft-img2 {
    height:400px;
  }
}

@media (min-width: 360px) {
  #design-draft-img3 {
    height:400px;
  }
}

@media (min-width: 767px) {
  #design-draft-img3 {
    height:400px;
  }
}

#design-draft-img1 {
  margin:20px;
}

#design-draft-img2 {
  margin:20px;
}

#design-draft-img3 {
  margin:20px;
}

@media (min-width: 360px) {
  #ogun-logo-img1 {
    height:400px;
  }
}

@media (min-width: 767px) {
  #ogun-logo-img1 {
    height:400px;
  }
}

@media (min-width: 360px) {
  #ogun-logo-img2 {
    height:400px;
  }
}

@media (min-width: 767px) {
  #ogun-logo-img2 {
    height:400px;
  }
}

@media (min-width: 360px) {
  #ogun-logo-img3 {
    height:225px;
  }
}

@media (min-width: 767px) {
  #ogun-logo-img3 {
    height:225px;
  }
}

@media (min-width: 360px) {
  #ogun-logo-img4 {
    height:225px;
  }
}

@media (min-width: 767px) {
  #ogun-logo-img4 {
    height:225px;
  }
}

#ogun-logo-img1 {
  margin:20px auto;
  margin-right:20px;
}

#ogun-logo-img2 {
  margin:20px auto;
}

#ogun-logo-img3 {
  margin:20px auto;
  margin-right:20px;
}

#ogun-logo-img4 {
  margin:20px auto;
  margin-right:20px;
}

@media (min-width: 767px) {
  #ogun-logos-imgs {
    width:750px;
  }
}

#ogun-group-img1 {
  /*margin:20px;*/
}

@media (min-width: 767px) {
  #ogun-group-img1 {
    height:400px;
  }
}

#ogun-group-img2 {
  margin:20px;
}

@media (min-width: 767px) {
  #ogun-group-img2 {
    height:420px;
  }
}

#ogun-group-img3 {
  margin:20px;
}

@media (min-width: 767px) {
  #ogun-group-img3 {
    height:420px;
    display:none;
  }
}

@media (min-width: 991px) {
  #ogun-group-img3 {
    height:420px;
    display:initial;
  }
}

#ogun-profile-img1 {
  margin:20px;
}

@media (min-width: 767px) {
  #ogun-profile-img1 {
    height:420px;
  }
}

#ogun-profile-img2 {
  margin:20px;
}

@media (min-width: 767px) {
  #ogun-profile-img2 {
    height:420px;
  }
}

#ogun-profile-img3 {
  margin:20px;
}

@media (min-width: 767px) {
  #ogun-profile-img3 {
    height:420px;
    display:none;
  }
}

@media (min-width: 991px) {
  #ogun-profile-img3 {
    height:420px;
    display:initial;
  }
}

#ogun-map-img1 {
  margin:20px;
}

@media (min-width: 767px) {
  #ogun-map-img1 {
    height:420px;
  }
}

#ogun-map-img2 {
  margin:20px;
}

@media (min-width: 767px) {
  #ogun-map-img2 {
    height:420px;
  }
}

#ogun-map-img3 {
  margin:20px;
}

@media (min-width: 767px) {
  #ogun-map-img3 {
    height:420px;
    display:none;
  }
}

@media (min-width: 991px) {
  #ogun-map-img3 {
    height:420px;
    display:initial;
  }
}

#comp-anl-img1 {
  margin:20px auto;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #comp-anl-img1 {
    height:50px;
  }
}

@media (min-width: 767px) {
  #comp-anl-img1 {
    height:50px;
  }
}

#comp-anl-img2 {
  margin:20px auto;
  margin-right:20px;
}

@media (min-width: 360px) {
  #comp-anl-img2 {
    height:50px;
  }
}

@media (min-width: 767px) {
  #comp-anl-img2 {
    height:50px;
  }
}

#comp-anl-img3 {
  margin:20px auto;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #comp-anl-img3 {
    width:150px;
  }
}

@media (min-width: 767px) {
  #comp-anl-img3 {
    width:150px;
  }
}

#comp-anl-img4 {
  margin:20px auto;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #comp-anl-img4 {
    width:150px;
  }
}

@media (min-width: 767px) {
  #comp-anl-img4 {
    width:150px;
  }
}

#comp-anl-img5 {
  margin:20px auto;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #comp-anl-img5 {
    height:50px;
  }
}

@media (min-width: 767px) {
  #comp-anl-img5 {
    height:50px;
  }
}

@media (min-width: 767px) {
  #comp-anl-collect-imgs {
    width:720px;
    margin:0 auto;
  }
}

@media (min-width: 360px) {
  #final-break-showcase {
    margin:20px auto;
    width:90%;
    display:block;
    box-shadow:3px 3px 10px #8e8e8e;
  }
}

@media (min-width: 767px) {
  #final-break-showcase {
    margin:20px;
    width:90%;
    display:none;
  }
}

@media (min-width: 360px) {
  #final-break-showcase2 {
    margin:20px auto;
    width:90%;
    display:block;
    box-shadow:3px 3px 10px #8e8e8e;
  }
}

@media (min-width: 767px) {
  #final-break-showcase2 {
    margin:20px auto;
    width:90%;
    display:none;
    box-shadow:3px 3px 10px #8e8e8e;
  }
}

#pw-prob-h1 {
  border-bottom:1px solid rgb(0,0,0);
  padding-bottom:20px;
  margin-bottom:20px;
}

@media (min-width: 360px) {
  #pw-prob-h1 {
    width:330px;
    margin:10px auto;
  }
}

@media (min-width: 767px) {
  #pw-prob-h1 {
    width:720px;
    margin:10px auto;
  }
}

@media (min-width: 991px) {
  #pw-prob-h1 {
    width:750px;
    margin:10px auto;
  }
}

#pw-solu-h1 {
  padding-bottom:20px;
  border-bottom:1px solid rgb(0,0,0);
  margin:0 auto;
}

@media (min-width: 360px) {
  #pw-solu-h1 {
    width:330px;
    margin:0 auto;
  }
}

@media (min-width: 767px) {
  #pw-solu-h1 {
    width:720px;
    margin:0 auto;
  }
}

@media (min-width: 991px) {
  #pw-solu-h1 {
    width:750px;
    margin:0 auto;
  }
}

#pwconclusion {
  text-align:center;
}

#pwbottombtn {
  margin-top:-90px;
}

#pwmockupimg-set {
  text-align:center;
}

@media (min-width: 360px) {
  #pwmockup-img {
    margin:auto;
    width:100%;
    margin-top:50px;
    display:none;
  }
}

@media (min-width: 767px) {
  #pwmockup-img {
    margin:auto;
    width:100%;
    margin-top:50px;
    display:initial;
  }
}

#pw-reseach-full {
  text-align:center;
  background-color:#8fddf9;
}

@media (min-width: 767px) {
  #pw-comp-anl-collect-imgs {
    width:750px;
    margin:0 auto;
  }
}

#pw-comp-anl-img1 {
  margin:20px auto;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #pw-comp-anl-img1 {
    height:50px;
  }
}

@media (min-width: 767px) {
  #pw-comp-anl-img1 {
    height:50px;
  }
}

#pw-comp-anl-img2 {
  margin:20px auto;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #pw-comp-anl-img2 {
    height:50px;
  }
}

@media (min-width: 767px) {
  #pw-comp-anl-img2 {
    height:50px;
  }
}

#pw-comp-anl-img3 {
  margin:20px auto;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #pw-comp-anl-img3 {
    height:50px;
  }
}

@media (min-width: 767px) {
  #pw-comp-anl-img3 {
    height:50px;
  }
}

#pw-comp-anl-img4 {
  margin:20px auto;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #pw-comp-anl-img4 {
    height:50px;
  }
}

@media (min-width: 767px) {
  #pw-comp-anl-img4 {
    height:50px;
  }
}

#pw-comp-anl-img5 {
  margin:20px auto;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #pw-comp-anl-img5 {
    height:50px;
  }
}

@media (min-width: 767px) {
  #pw-comp-anl-img5 {
    height:50px;
  }
}

@media (min-width: 767px) {
  #pw-logo-all-imgs {
    width:750px;
    margin:0 auto;
  }
}

#pw-logo1 {
  margin:20px auto;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #pw-logo1 {
    width:100px;
  }
}

@media (min-width: 767px) {
  #pw-logo1 {
    width:100px;
  }
}

@media (min-width: 991px) {
  #pw-logo1 {
    width:125px;
  }
}

#pw-logo2 {
  margin:20px;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #pw-logo2 {
    height:150px;
  }
}

@media (min-width: 767px) {
  #pw-logo2 {
    height:150px;
  }
}

@media (min-width: 991px) {
  #pw-logo2 {
    height:180px;
  }
}

#pw-logo3 {
  margin:20px auto;
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 360px) {
  #pw-logo3 {
    height:150px;
  }
}

@media (min-width: 767px) {
  #pw-logo3 {
    height:150px;
  }
}

@media (min-width: 991px) {
  #pw-logo3 {
    height:180px;
  }
}

#pwfindes-img1 {
  margin:30px auto;
}

@media (min-width: 360px) {
  #pwfindes-img1 {
    margin:30px auto;
    width:100%;
  }
}

@media (min-width: 767px) {
  #pwfindes-img1 {
    margin:30px auto;
    width:80%;
  }
}

#pwfindes-img2 {
  margin:30px auto;
}

@media (min-width: 360px) {
  #pwfindes-img2 {
    margin:30px auto;
    width:100%;
  }
}

@media (min-width: 767px) {
  #pwfindes-img2 {
    margin:30px auto;
    width:80%;
  }
}

.col-md-6.og-text {
  text-align:center;
}

@media (min-width: 360px) {
  #ogun-solu-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #ogun-solu-p1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #ogun-solu-p1 {
    margin:0 auto;
    width:750px;
  }
}

@media (min-width: 360px) {
  #og-prob-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #og-prob-p1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #og-prob-p1 {
    margin:0 auto;
    width:750px;
  }
}

#ogun-solution-full {
  margin-top:40px;
  margin-bottom:10px;
}

.text-center.desr {
  margin:10px auto;
}

@media (min-width: 360px) {
  .text-center.desr {
    width:330px;
  }
}

@media (min-width: 767px) {
  .text-center.desr {
    width:720px;
  }
}

@media (min-width: 991px) {
  .text-center.desr {
    width:auto;
  }
}

.text-center.desd {
  margin:10px auto;
}

@media (min-width: 360px) {
  .text-center.desd {
    width:330px;
  }
}

@media (min-width: 767px) {
  .text-center.desd {
    width:720px;
  }
}

@media (min-width: 991px) {
  .text-center.desd {
    width:auto;
  }
}

#des-delvs-h1 {
  border-bottom:1px solid rgb(0,0,0);
  padding-bottom:20px;
  margin-bottom:20px;
}

.text-center.des-spec {
  margin:10px auto;
}

@media (min-width: 360px) {
  .text-center.des-spec {
    width:330px;
  }
}

@media (min-width: 767px) {
  .text-center.des-spec {
    width:720px;
  }
}

@media (min-width: 991px) {
  .text-center.des-spec {
    width:auto;
  }
}

@media (min-width: 360px) {
  #pw-prob-p1 {
    width:330px;
    margin:0 auto;
  }
}

@media (min-width: 767px) {
  #pw-prob-p1 {
    width:720px;
    margin:0 auto;
  }
}

@media (min-width: 991px) {
  #pw-prob-p1 {
    width:750px;
    margin:0 auto;
  }
}

#pw-solu-p1 {
  margin:0 auto;
  padding-top:15px;
}

@media (min-width: 360px) {
  #pw-solu-p1 {
    margin:0 auto;
    width:330px;
  }
}

@media (min-width: 767px) {
  #pw-solu-p1 {
    margin:0 auto;
    width:720px;
  }
}

@media (min-width: 991px) {
  #pw-solu-p1 {
    margin:0 auto;
    width:750px;
  }
}

#pw-prob-full {
  padding-top:0px;
}

#pw-prob-p1 {
  padding-bottom:15px;
}

